

#coinModal {
    font-size: 20px;
}
<<<<<<< HEAD
=======

>>>>>>> 96e8f64cfc694ef17aa02925c50389480e990d1a
/* #coinModal {
    height: 175px;
    width: 175px;
    justify-content: space-around;
    border: 2px solid royalblue;
    border-radius: 5px;
} */
.ant-modal-wrap {
    border: 2px solid royalblue;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

