
#NavBarBase {
    background-color: rgb(6, 45, 123);
    height: 5vw;
    color: white;

    display: flex;
    flex: row;
    align-items: flex-start;
}

#brandlogohome {
    float: left;
    margin-left: 0;
    background-color: white;
    margin-top: 2%;
    width: 20%;
    height: 85%;
}


