/* @import url(//db.onlinewebfonts.com/c/4db9755ca4ef2df7fc9cbce2d0c7f3ea?family=ITC+American+Typewriter); */

body {
    background-color: #fff;
    background-image: url('../../Assets/michaelOffice.jpg');
    /* font-family: "ITC American Typewriter"; */
}

@font-face {
    font-family: "ITC American Typewriter"; 
    src: url('../../Assets/ITC-American-Typewriter-Medium.otf'); 
}

.mainProfileDiv {
    margin-top: 120px;
    margin-left: 70px;
    display: inline-flex;
    float: left;
}

.nameDiv {
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.aboutInfo {
    background-color: rgba(255, 255, 255, 0.5);
    border: black solid 2px;

}

h3 {
    font-size: 23px;
    font-weight: 550;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 540;
}