h1 {
    text-align: center;
}
.signin-col {
    padding:20px 20px 20px 20px;
    border:1px solid black;
    margin-top:50px;
    margin-bottom:100px;
}
.login-col {
    padding:20px 20px 20px 20px;
    border:1px solid black;
    margin-top:50px;
    margin-bottom:100px
}
#auth-container {
    background-image: url('../Assets/michaelscott.jpg');
    max-width: 120%;
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
#dmlogo {
    margin-top: 15px
    }

#dmlogo {
    margin-left: -50%;
}
h3 {
    width: 50%;
    font-size: 30px;
    font-family: 'American Typewriter Medium';
    font-weight: bold;
    margin-top: 5px;
}
#signuplogin {
    width: 30%;
    margin-left: 150px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-image: url('../Assets/paper.jpg');
}

#toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(4,45,123);
    border-radius: 5px;
    font-family: 'American Typewriter Medium';
}